.App {
  font-family: sans-serif;
  text-align: center;
}
body{
  background-color:darkgray;
}
.main-container{
  display :flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

}
.center-container{
  height: 500px;
  width: :350px;
}
